{% extends "app.layout.html" %} {% load staticfiles %} {% block main_content %}
<!-- content-here -->
<div class="content-container animated rotateInDownLeft" id="content">
    <div class="page page-ui-tabs">
        <div class="page-wrap">
            <!-- row -->
            <div class="row">
                <!-- tabs-right -->
                <div class="col-md-12 mb30">
                    <!-- tab style -->
                    <div class="tab-content">
                        <div class="tab-pane active animated rotateInDownRight" id="tab-tweets">
                            <div class="row clearfix">
                                <!-- List Groups -->
                                <div class="col-sm-3">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default panel-hovered panel-stacked mb30">
                                            <div class="panel-heading">
                                                <span>Income & Expenditure</span>
                                                <small class="pull-right">
                                                    <a id="reset-income_expenditure" href="#">reset</a>
                                                </small>
                                            </div>
                                            <div class="panel-body">
                                                <!--<div id="income_expenditure-chart"></div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- #end panel -->
                                    <!-- List Groups -->
                                    <div class="col-sm-12">
                                        <div class="panel panel-default panel-hovered panel-stacked mb30">
                                            <div class="panel-heading">
                                                <span>Cash flow</span>
                                                <small class="pull-right">

                                                    <a id="reset-cash_flow" href="#">reset</a>
                                                </small>

                                            </div>
                                            <div class="panel-body">
                                                <div id="cash_flow-chart"></div>
                                            </div>
                                        </div>
                                        <!-- #end panel -->
                                    </div>
                                    <!-- #end col -->
                                    <div class="col-sm-12">
                                        <div class="panel panel-default panel-hovered panel-stacked mb30">
                                            <div class="panel-heading">
                                                <span>balance sheet</span>
                                                <small class="pull-right">
                                                    <a id="reset-balance" href="#">reset</a>
                                                </small>
                                            </div>
                                            <div class="panel-body">
                                                <div id="balance-chart"></div>
                                            </div>
                                        </div>
                                        <!-- #end panel -->
                                    </div>
                                    <!-- #end col -->
                                    <!-- #end panel -->
                                </div>

                                <!-- #end col -->
                                <div class="col-sm-6">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default panel-hovered panel-stacked mb30">
                                            <div class="panel-heading">
                                                <span>National yearly Budget</span>
                                                <small class="pull-right">
                                                    <a id="reset-map" href="#">reset</a>
                                                </small>
                                            </div>
                                            <div class="panel-body">
                                                <!--<div id="map-chart"></div> -->
                                                <div id="category-chart"></div>
                                            </div>
                                        </div>
                                        <!-- #end panel -->
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="panel panel-default panel-hovered panel-stacked mb30">
                                                <div class="panel-heading">
                                                    <span>Capital</span>
                                                    <small class="pull-right">
                                                        <a id="reset-capital" href="#">reset</a>
                                                    </small>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="capital-chart"></div>
                                                </div>
                                            </div>
                                            <!-- #end panel -->
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="panel panel-default panel-hovered panel-stacked mb30">
                                                <div class="panel-heading">
                                                    <span>Contact Details</span>
                                                    <small class="pull-right">
                                                        <a id="reset-contact" href="#">reset</a>
                                                    </small>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="contact-chart"></div>
                                                </div>
                                            </div>
                                            <!-- #end panel -->
                                        </div>
                                    </div>
                                    <!-- #end col -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-sm-12">
                                        <div class="panel panel-default panel-hovered panel-stacked mb30">
                                            <div class="panel-heading">
                                                <span>audit</span>
                                                <small class="pull-right">
                                                    <a id="reset-audit" href="#">reset</a>
                                                </small>
                                            </div>
                                            <div class="panel-body">
                                                <div id="audits-chart"></div>
                                            </div>
                                        </div>
                                        <!-- #end panel -->
                                    </div>
                                    <!-- #end col -->

                                    <div class="col-sm-12">
                                        <div class="panel panel-default panel-hovered panel-stacked mb30">
                                            <div class="panel-heading">
                                                <span>Wasteful Expenditure</span>
                                                <small class="pull-right">
                                                    <a id="reset-wasteful" href="#">reset</a>
                                                </small>
                                            </div>
                                            <div class="panel-body">
                                                <div id="wasteful-chart"></div>
                                            </div>
                                        </div>
                                        <!-- #end panel -->
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel panel-default panel-hovered panel-stacked mb30">
                                            <div class="panel-heading">
                                                <span>maintenance</span>
                                                <small class="pull-right">
                                                    <a id="reset-maintenance" href="#">reset</a>
                                                </small>
                                            </div>
                                            <div class="panel-body">
                                                <div id="maintenance-chart"></div>
                                            </div>
                                        </div>
                                        <!-- #end panel -->
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="panel panel-default panel-hovered panel-stacked mb30">
                                        <div class="panel-heading">
                                            <span>forcasting</span>
                                            <small class="pull-right">
																							<a id="reset-forcast" href="#">reset</a>
																						</small>
                                        </div>
                                        <div class="panel-body">
                                            <div id="forcast-chart"></div>
                                        </div>
                                    </div>
                                    <!-- #end panel -->
                                </div>
                            </div>

                        </div>
                        <!-- #end tabs-right -->
                    </div>
                    <!-- #end row -->

                </div>
                <!-- #end page-wrap -->
            </div>
            <!-- #end page -->
        </div>
        <!-- #end content-container -->
        {% endblock main_content %} {% block extra_js %}
        <script src="{% static 'scripts/crossfilter.js' %}"></script>
        <script src="{% static 'scripts/d3.min.js' %}"></script>
        <script src="{% static 'scripts/dc.js' %}"></script>
        <script src="{% static 'scripts/queue.js' %}"></script>
        <script src="{% static 'scripts/kpi_dashbords.js' %}"></script>
        <script src="{% static 'scripts/print_filter.js' %}"></script>
        {% endblock %}
